<div id="map" class="map">
</div>
<script src="https://api-maps.yandex.ru/2.1/?apikey=5d051c36-3521-451f-8945-4b544cc5b2d6&lang=ru_RU" type="text/javascript">
</script>
<script type="text/javascript">

ymaps.ready(init);

function init(){ 
    var myMap = new ymaps.Map("map", {
        center: [53.91, 27.6],
        zoom: 12
    });

	myMap.geoObjects.add(new ymaps.Placemark(
		[53.91, 27.61]       
	));

	myMap.geoObjects.add(new ymaps.Placemark(
		[53.91, 27.62]       
	));

	myMap.geoObjects.add(new ymaps.Placemark(
		[53.91, 27.63]       
	));
}
</script>	