<!DOCTYPE html>
<html>
<head>
  <title>web shop</title>
  <link rel="stylesheet" href="styles.css">
  <script src="app.js"></script>
</head>
<body>
  <%- include('_header', { cart, categories }); %>
  
  <div class="content">
    <%- include('_order-items', { cart }); %>
    
    <%- include('_order-form'); %>
  </div>

</div>

</div>
</body>
</html>